#add-constraints-form,#edit-constraint-form,#find-constraint-data-div,#find-constraint-button-div,#find-constraint-form,.worker-data label{
    display: flex;
}

#add-constraint-form,#edit-constraint-form,#find-constraint-data-div,#find-constraint-form,.worker-data label{
    flex-direction: column;
}

#add-constraint-form,#edit-constraint-form,#find-constraint-form,#find-constraint-data-div{
    align-items: center;
}

#add-constraint-form,#edit-constraint-form,#find-constraint-form,#find-constraint-data-div,#find-constraint-button-div{
    justify-content: center;
}

#table-div{
    padding: 10px;
}

.hidden{
    display: none;
}

input{
    margin: 0 12px 0 2px !important;
}

#add-constraint-form label{
    margin-bottom: 8px;
}

#add-constraint-form button{
    margin: 0;
}

#edit-constraint-form p{
    margin-bottom: 5px;
}

#add-constraint-div,#find-constraint-div,#edit-constraint-div{
    padding: 1.5rem;
    background: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px;
}


#find-constraint-div{
    width: 350px;
}

#find-constraint-data-div{
    width: 100%;
}

#find-constraint-button-div button{
    margin-bottom: 0;
}