td{
    margin: 0 !important;
    padding: 0 !important;
}

.table-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.delete-btn{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
}

#find-days-off-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-restriction-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-restriction-form p{
    margin: 6px 0 3px 0;
}

#start-time-div,#end-time-div{
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#time-div{
    display: flex;
    margin-top: 15px;
}

#restriction-ids-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}