.table-div,.container,#find-days-off-div,#add-restriction-form,#start-time-div,#end-time-div,#restriction-ids-div,#time-div,#add-days-off-form{
    display: flex;
}

.table-div,#find-days-off-div,#add-restriction-form,#start-time-div,#end-time-div,#restriction-ids-div,#add-restriction-div,#add-days-off-div,
#find-restriction-div,#find-days-off-div,#add-days-off-form{
    flex-direction: column;
    align-items: center;
}

.table-div{
    min-width: 900px;
    padding: 10px;
}

.container,#add-restriction-div,#add-days-off-div,#find-restriction-div,#find-days-off-div {
    justify-content: center;
}

#add-restriction-form p{
    margin: 6px 0 3px 0;
}

#start-time-div,#end-time-div{
    margin: 0 5px;
}

#time-div{
    margin-top: 15px;
}

#add-restriction-div,#add-days-off-div,
#find-restriction-div,#find-days-off-div {
    background: #f8f8f8;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 50px;
    padding: 10px 0;
}

#add-days-off-div,#find-days-off-div{
    padding-top: 20px;
    width: 250px;
}

#add-restriction-div{
    width: 300px;
}

#find-restriction-div{
    width: 360px;
}

#add-days-off-form label{
    margin-bottom: 10px;
}

#add-days-off-form button{
    margin-top: 0;
}

#table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
}