body,html{
    height: 80vh;
    justify-content: center;
    background-color: var(--teal);
    color: white;
}

body,html,#roster-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}

button{
    border-radius: 5px !important;
}

#error-container{
    opacity: 1;
    max-height: 100px;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
}