.location-header-div,.shift-block,.location-header-div,#home-div{
    display: flex;
}

.calendar-item,.shift-block,.location-header-div{
    align-items: center;
}

.calendar-item,#home-tag{
    text-align: center;
}

.shift-block,#home-div,.location-header-div{
    justify-content: center;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    min-width: 1000px;
}

.calendar-item {
    position: relative;
    padding: 30px 20px ;
    border: 1px solid #ddd;
    background-color: lightgray;
    min-width: 120px;
    height: 150px ; 
    align-items: center;
    overflow: hidden;
}

.calendar-header {
    height: 25px ;
    padding: 30px 20px ;
    font-weight: bold;
    background-color: #f0f0f0;
}

.location-header-div{
    min-width: 1000px;
    flex-direction: column;
}

.day-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
}

.shift-block {
    width: 100% ; 
    max-width: 200px ; 
    min-height: 50px ; 
    word-wrap: break-word; 
    overflow: hidden ;
    white-space: normal; 
    flex-direction: column; 
    align-items: center; 
    padding: 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9; 
    border-radius: 5px;
    margin: 3px 0;
}

.shift-1 {
    background-color: lightblue;
}

.shift-2 {
    background-color: lightgreen;
}

.shift-3 {
    background-color: lightcoral;
}

.shift-block p {
    margin: 2px 0;
    font-size: 12px;
}

#home-div{
    min-width: 1000px;
}

#home-tag{
    padding: 10px 20px;
    color: var(--grey);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
}

#home-tag:hover{
    transition: 0.3s ease;
    color: var(--teal);
}

.error-tag{
    color: red;
    margin: 0;
}

li{
    color: red;
    margin-left: -20px;
}