#table-container,#find-worker-div,#name-info-div,#gender-address-info-div,#add-worker-form,#buttons-container,
#gender-address-info-div label,#availability-div,#hours-div,#workerSearchForm,#locations-input,
#contact-id-info-div,#contact-info-div label,.buttons-div,.text-input-label{
    display: flex;
}

.text-input-label,#add-worker-div,#find-worker-div,#gender-address-info-div label,#hours-div,#workerSearchForm,#add-worker-form{
    flex-direction: column;
}

.text-input-label,#add-worker-div,#find-worker-div,#gender-address-info-div label,#contact-id-info-div label,#hours-div,#workerSearchForm{
    align-items: center;
}

.buttons-div,#add-worker-div,#find-worker-div,#table-container,#buttons-container{
    justify-content: center;
}

#name-info-div,#gender-address-info-div,#availability-div{
    justify-content: space-between;
}

#contact-id-info-div,#locations-input{
    justify-content: space-evenly;
}

#contact-id-info-div,#gender-address-info-div,#availability-div,#hours-div{
    padding: 0 10px;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table {
    min-width: 1270px !important;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border-bottom: 1px solid black !important;
    padding: 8px;
    text-align: center !important;
    vertical-align: middle;
}

tr:last-child td {
    border-bottom: 2px solid black ; 
}

.addressClass{
    min-width: 100px !important;
}

.text-input-label{
    margin: 2px 10px;
}

.visible{
    opacity: 1;
    max-height: 500px; 
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

#table-container{
    width: 80%;
}

#add-worker-div,
#find-worker-div,
#edit-worker-div {
    width: 61%; /* Adjust width as needed */
    max-width: 550px; /* Prevents stretching too wide */
    padding: 30px;
    background: #f8f8f8; /* Optional: Adds slight background for visibility */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Slight shadow effect */
    margin: 40px;
}

#add-age-input{
    width: 100px;
}

#availability-div{
    margin-top: 8px;
}

#hours-div{
    margin: 5px 0;
}

#hours-div label{
    margin: 1px;
}

#locations-input{
    margin-top: 10px;
}

#add-address-input{
    width: 200px;
}

#worker-buttons-container,.nav-container,.data-input-container,.error-container{
    min-width: 1270px !important;
}

#contact-id-info-div,.error-container{
    margin-top: 10px;
}

#loading-container{
    min-width: 1270px;
    display: flex;
    justify-content: center;
}

#edit-worker-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hours-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hours-container p{
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-worker-form label{
    margin: 0 7px;
}