<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Constraints</title>
</head>
<body>
    <a href="/">Home</a>

    <table id="constraints-data">
        <tr>
            <th>ID</th>
            <th>Worker1 ID</th>
            <th>Worker2 ID</th>
            <th>Note</th>
        </tr>
    </table>

    <script type="module" src="/static/javascript/find-constraints.js"></script>
</body>
</html>