<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>

    <h1>Find Restriction</h1>
    <table id="table">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DayOfWeek</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </table>

    <script type="module" src="../views/find-restrictions/main.js"></script>
    <script type="module" src="../views/find-restrictions/frontend.js"></script>
    <script type="module" src="../views/find-restrictions/functions.js"></script>
</body>
</html>