<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome Message</h1>
    <div class="options">
        <a id="create-roster" href="/templates/create-roster.html">Create Roster</a>
        <a id="add-worker" href="/templates/add-worker.html">Add Worker</a>
        <a id="remove-worker" href="/templates/remove-worker.html">Remove Worker</a>
        <a id="get-workers" href="/templates/get-workers.html">Get workers</a>
        <a id="find-worker" href="/templates/find-worker.html">Find Worker</a>
        <button id="get-locations">Get workers</button>
    </div>
    <ol id="list">
        
    </ol>
</body>
</html>