<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>HomePage</title>
</head>
<body>
    <p id="message"></p>

    <h1>Welcome Message</h1>
    <div class="options">
        <a id="create-roster" href="/create-roster">Create Roster</a>
        <button id="add-worker">Add Worker</button>
        <button id="add-location">Add Location</button>
        <button id="remove-worker">Remove Worker</button>
        <button id="remove-location">Remove Location</button>
        <a id="get-workers" href="/get-workers">Get workers</a>
        <button id="find-worker">Find Worker</button>
        <a id="get-locations" href="/get-locations">Get location</a>
    </div>

    <div class="hidden" id="add-location-div">
        <label for="location-input">
            Location Name
            <input type="text" id="location-input" placeholder="Type here">
        </label>
        <button id="add-location-submit-btn">Submit</button>
    </div>

    <div class="hidden" id="add-worker-div">
        <form id="add-worker-form">
            <label for="add-first-name-input">
                First  Name
                <input type="text" id="add-first-name-input" required placeholder="Type here">
            </label>
            <label for="add-last-name-input">
                Last  Name
                <input type="text" id="add-last-name-input" required placeholder="Type here">
            </label>
            <label for="add-middle-name-input">
                Middle  Name
                <input type="text" id="add-middle-name-input" placeholder="Type here" >
            </label>
            <label for="add-gender-input">
                Gender
                <input type="text" id="add-gender-input" placeholder="Type here">
            </label>
            <label for="add-address-input">
                Address
                <input type="text" id="add-address-input" required placeholder="Type here">
            </label>
            <label for="add-contact-input">
                Contact
                <input type="text" id="add-contact-input" placeholder="Type here">
            </label>
            <label for="add-age-input">
                Age
                <input type="number" id="add-age-input" required placeholder="Type here">
            </label>
            <label for="id-number-input">
                ID Number
                <input type="number" id="id-number-input" required placeholder="Type here">
            </label>

            <button type="submit" id="add-worker-submit-btn">
                Add Worker
            </button>
        </form>
    </div>

    <div id="find-worker-div" class="hidden">
        <form id="workerSearchForm">
            <label for="id">
                ID
                <input type="checkbox" id="id" name="id">
            </label>
            <br>
            <input autocomplete="off" type="number" id="id-input" class="hidden" placeholder="Enter the id here">
    
            <label for="first-name">
                First Name
                <input type="checkbox" id="first-name">
            </label>
            <br>
            <input autocomplete="off" type="text" id="first-name-input" class="hidden" placeholder="Enter the first name here">
    
            <label for="last-name">
                Last Name
                <input type="checkbox" id="last-name">
            </label>
            <br>
            <input autocomplete="off" type="text" id="last-name-input" class="hidden" placeholder="Enter the last name here">
    
            <label for="middle-name">
                Middle Name
                <input type="checkbox" id="middle-name">
            </label>
            <br>
            <input autocomplete="off" type="text" id="middle-name-input" class="hidden" placeholder="Enter the middle name here">

            <label for="id-number">
                ID Number
                <input type="checkbox" id="id-number">
            </label>
            <br>
            <input autocomplete="off" type="text" id="id-number-input" class="hidden" placeholder="Enter the id number here">

            <button id="submit-button" >Submit</button>
        </form>
    </div>
    <p id="error-tag" style="color: red;"></p>
    
    <script type="module" src="/static/javascript/home.js"></script>
</body>
</html>