<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome Message</h1>
    <div class="options">
        <a id="create-roster" href="/create-roster">Create Roster</a>
        <a id="add-worker" href="/add-worker">Add Worker</a>
        <a id="remove-worker" href="/remove-worker">Remove Worker</a>
        <a id="get-workers" href="/get-workers">Get workers</a>
        <a id="find-worker" href="/find-worker">Find Worker</a>
        <a id="get-locations" href="/get-locations">Get location</a>
    </div>
    
    <script type="module" src="/static/javascript/home.js"></script>
</body>
</html>