<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/remove-worker.css">
    <title>Remove Worker</title>
</head>
<body>
    <a href="/">Home</a>

    <h1>Remove Worker</h1>
    <table id="table">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>MiddleName</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Id Number</th>
        </tr>
    </table>
    <script type="module" src="/static/javascript/remove-worker.js"></script>
</body>
</html>