<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/remove-location.css">
    <title>Remove Location</title>
</head>
    <body>
        <a href="/">Home</a>

        <h1>Locations</h1>
        <ul id="list"></ul>
            
        </ul>
        <p id="messageTag"></p>
        <script type="module" src="/static/javascript/remove-location.js"></script>
    </body>
</html>